body {
    font-family: 'Noto Sans TC', 微軟正黑體, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav, footer {
    background-color: #737373;
}

footer {
    height: 4rem;
    color: white;
    padding-top: .7rem;
    padding-bottom: .7rem;
}

footer img {
    max-height: 2.6rem;
}

.navbar {
    padding: 0 1rem;
    box-shadow: 0 15px 15px -15px rgba(120, 120, 120, 0.9);
    z-index: 100;
}

.navbar-nav {
    margin-top: .5rem;
    flex-direction: row;
}

.nav-link {
    color: white !important;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.nav-item {
    margin: 0 .5rem;
}

.nav-item.active a {
    color: #FEFD54 !important;
    border-bottom: 4px solid #D6562E;
}

.margin-100 {
    margin-top: -100px;
}

.margin-150 {
    margin-top: -150px;
}

.margin-200 {
    margin-top: -200px;
}

.container {
    text-align: center;
}

.section-wrapper {
    position: relative;
}

.section-wrapper section {
    position: relative;
}

.section-container {
    width: 100vw;
    text-align: center;
}

.shape-left-right .section-container {
    margin-left: -100vw;
}

.main-figure {
    width: 100%;
}

.shape {
    margin-top: -100px;
    z-index: 1;
    height: 500px;
}

.shape-right-left {
    border-right: 100vw solid;
    border-top: 100px solid transparent;
}

.shape-left-right {
    border-left: 100vw solid;
    border-top: 100px solid transparent;
}

.shape-yellow {
    border-right-color: #FEFD54;
    border-left-color: #FEFD54;
}

.shape-blue {
    border-right-color: #69DAF0;
    border-left-color: #69DAF0;
}

.shape-orange {
    border-right-color: #D6562E;
    border-left-color: #D6562E;
}

.intro-img {
    max-width: 450px;
    max-height: 60px;
}

.market-img {
    max-height: 200px;
}

.content-table {
    table-layout : fixed;
}

.content-table, .lecture-schedule-table {
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
}

table.content-table, .content-table td, .lecture-schedule-table td {
    border: 8px solid white;
    color: white;
}

.content-table td {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.lecture-schedule-table td {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.content-table td.blue {
    background-color: #55A9D5;
}

.content-table td.orange {
    background-color: #D6562E;
}

.lecture-schedule-table tr:nth-child(odd) td {
    background-color: #55A9D4;
}

.lecture-schedule-table tr:nth-child(even) td {
    background-color: #99D0EA;
}

.organizer-img {
    max-height: 1.5rem;
    margin-right: 12px;
}